<footer id="footer">
    <div class="inner blue">
        <section>
            <h5>coming up: Something is amazing.</h5>
        </section>
    </div>
    <div class="inner testimony">
        <section style="background-image: url('<%= post.headerBackgroundImage.url %>');">
            <h5>watch: Sarah's Story</h5>
        </section>
    </div>
    <div class="inner">
        <ul class="copyright">
            <li>Something</li>
            <li>Something</li>
            <li>Something</li>
        </ul>
    </div>
</footer>