<nav id="menu">
    <div class="inner">
        <h2>Menu</h2>
        <ul>
            <li><a href="">Item</a></li>
            <li><a href="">Item</a></li>
            <li><a href="">Item</a></li>
            <li><a href="">Item</a></li>
            <li><a href="">Item</a></li>
        </ul>
    </div>
</nav>