<header id="header">
    <div class="inner">
        
        <a href="index.html" class="logo">
            <span class="symbol"><%= image_tag "middleman.png" %></span>
            <!--<span class="title">The Grainery</span>-->
        </a>
        <div class="rolling-text">
            <ul>
                <li>
                    next service: 10AM | Waratah Campus
                </li>
            </ul>
        </div>
        <nav class="mega-nav">
            <ul>
                <li>
                    <a href="#menu">Menu</a>
                </li>
            </ul>
        </nav>
    </div>
</header>