<nav>
    <ul class="navigation-items">
    <% data.contentful.pages.each do |id, p| 
        if post.slug == p.slug 
            menu_status = "active"
        else
            menu_status = ""
        end
    %>
        <li class="<%= menu_status %>"><%= link_to(p.bigHeading, "#{p.slug}.html") %></li>
    <% end %>
    </ul>
</nav>