///
/// Phantom by HTML5 UP
/// html5up.net | @n33co
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
/// https://html5up.net/phantom

/* Main */

	#main {
		@include padding(5em, 0, (-5em, 0, 3em, 0));

		@include breakpoint(small) {
			@include padding(3em, 0, (-3em, 0, 3em, 0));
		}
	}

    .style_guide {
        max-width: 60em;
        padding: 6rem 0 0;
        margin: 0 auto;
    }

    body {
        position: relative;
    }

    .main-page {
        
        .hero-block {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
            background-attachment: fixed;
            
            padding: 5rem 0 1rem 0;
            
            h1, h2, h3, h4, h5, h6, p, ul, a {
                text-align: center;
                color: _palette(fg-alt);
            }
            
            h1 {
                margin: 10rem 0 2rem;
            }
            h2 {
                max-width: 40rem;
                margin: 0 auto 2rem;
            }
            h5 {
                a {
                    padding-bottom: 2pt;
                    border-bottom: solid 2pt _palette(fg-alt);
                }
                
                margin: 0 0 8rem;
            }
            
            nav {
                width: 100%;
                
                ul {
                    margin: 0;
                    padding: 0;
                    
                    li {
                        list-style: none;
                        display: inline-block;
                        padding: 0.5em 1.5em;
                        
                        font-weight: _font(weight-bold);
                        text-transform: lowercase;
                        
                        a {
                            border-bottom-width: 0;
                            border-bottom-color: _palette(fg-alt);
                        }
                        &.active a {
                            border-bottom-width: 2pt;
                        }
                    }
                }
                
            }
            
        }
        
        .inner {
            max-width: 72rem;
            margin-left: auto;
            margin-right: auto;
            padding: 2rem 0;

            overflow: auto;
            clear: both;
        }
        
        .second-block {
            .inner {
                margin-top: 4rem;
                margin-bottom: 4rem;
            }
            h2 {
                text-align: center;
                line-height: 1.25;
            }
        }
        
        .content-blocks {
            .content-block:nth-child(2n) {
                background-color: _palette(bg-alt);
            }
            .inner {
                display: flex;
                flex-direction: row;
                //justify-content: center;
                align-items: center;
                position: relative;
                
                .left, .right {
                    float: left;
                    width: 50%;
                    padding: 0 1rem 0 1rem;
                    overflow: auto;
                }
                img {
                    width: 100%;
                    display: block;
                }
                
                @include breakpoint(small) {
                    display: block;
                    
                    .left, .right {
                        float: none;
                        width: 100%;
                    }
                }
                
            }
            h4 {
                margin-bottom: 1.5rem;
            }
            p {
                margin-bottom: 1rem;
            }
        }
        
    }