---
title: This is a proof of concept
---

<%#
#<div class="welcome">
#  <h1>Middleman is Watching</h1>
#  <p class="doc">
#    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" 
#  </p><!-- .doc -->
#v</div><!-- .welcome -->
%>

<div class="style_guide">
    
    <% data.contentful.styleGuide.each do |id , t| %>
    
        <%= Markdown.new(t.body).to_html %>
    
    <% end %>
</div>

<ul class="navigation-items">
    <% data.contentful.pages.each do |id, p| 
    %>
        <li><%= link_to(p.bigHeading, "#{p.slug}.html") %></li>
    <% end %>
</ul>