<% content_for :page_title, post.pageTitle %>

<%= partial "partials/mega_nav" %>

<div id="main">
    <div class="inner main-page">
        <div class="hero-block" style="background-image: url('<%= post.headerBackgroundImage.url %>');">
            <h1><%= post.bigHeading %></h1>
            <h2><%= post.subheading %></h2>

            <h5><a href="#"><%= post.callToActionText %></a></h5> 

            <%= partial "partials/menu" %>
        </div>
        <div class="second-block">
            <div class="inner">
                <h2><%= post.description  %></h2>
            </div>
        </div>

        
        <div class="content-blocks">
            
            <% 
            data.contentful.content.each do |id, part| 
                part.relatedPage.each do |val|
                    if post.slug == val
            %>
            <section class="content-block">
                <div class="inner">
                    <div class="left">
                        <%= image_tag(part.image.url) %>
                    </div>
                    <div class="right">
                        <div class="content">
                            <h4><%= part.title %> </h4>
                            <p><%= part.description %></p> 
                            <h6><a href="<%= part.slug %>"><%= part.callToActionText %></a></h6> 
                        </div>
                    </div>
                </div>
            </section>
            <% 
                    end
                end
            end 
            %>
            
        </div>
        

    </div>
</div>

<%= partial "partials/footer" %>